html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#main {
}

.cta-container {
    transform: scale(0.55);
    transform-origin: top center;
}

li::marker {
    color: #c31134;
}

.glossy::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    width: 99%;
    height: 99%;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.3),
        transparent
    );
    border-radius: 80px;
    transform: translateX(-50%);
}

.glossy::after {
    content: "";
    position: absolute;
    top: -25px;
    left: 50%;
    width: 92%;
    height: 75%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    transform: translateX(-50%);
}

.reflection {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4px;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    filter: blur(4px);
    z-index: 3;
}

.reflection2 {
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: 5px;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    filter: blur(3px);
    z-index: 3;
    opacity: 1;
}
